:root {
  --color-primary: #648cff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #fc6a42;
  --color-gray-1: #c2c2c2;
  --color-gray-2: #999999;
  --color-dark-blue-1: #353854;
  --color-dark-blue-2: #4466c9;
  --color-dark-blue-3: #4466c9;
  --color-dark-blue-4: #b5b5c8;
  --color-dark-blue-5: #525781;
  --color-dark-blue-6: #686a7f;
}

/*
$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 54.5em;
$bp-xl : 60em;
$bp-xl-2 : 67em;
*/
@keyframes movement-1 {
  0% {
    transform: translate(0rem, 0rem);
  }
  50% {
    transform: translate(0, -0.6rem) rotate(-15deg);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}
@keyframes movement-2 {
  0% {
    transform: translate(0rem, 0rem);
  }
  50% {
    transform: translate(0, -1rem) rotate(6deg);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}
@keyframes movement-3 {
  0% {
    transform: translate(0rem, 0rem);
  }
  50% {
    transform: translate(0, -1.5rem) rotate(-8deg);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}
@keyframes movement-4 {
  0% {
    transform: translate(0rem, 0rem);
  }
  50% {
    transform: translate(0, -1.8rem) rotate(10deg);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.2;
  font-family: "ubuntu", Arial;
}

.main-text {
  font-size: 4rem;
  color: var(--color-white);
}
@media only screen and (min-width: 22.5em) {
  .main-text {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 39.5em) {
  .main-text {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 50em) {
  .main-text {
    font-size: 4rem;
  }
}

.sub-text {
  font-size: 1.2rem;
  color: var(--color-white);
  margin-bottom: 4rem;
}
@media only screen and (min-width: 22.5em) {
  .sub-text {
    font-size: 1.8rem;
  }
}

.secondary_text {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--color-primary);
}

.tertiary_text {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color-gray-1);
}

.fourth_text {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-gray-2);
}

.downloads__main-text {
  font-size: 2.8rem;
  color: var(--color-white);
  font-weight: 700;
}
.downloads__sub-text {
  font-size: 1.2rem;
  color: var(--color-white);
  font-weight: 300;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-top-medium {
  margin-top: 4rem;
}

.margin-top-large {
  margin-top: 8rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-large {
  margin-top: 8rem;
}

.btn {
  border-radius: 5px;
  padding: 1rem 3rem;
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.8rem;
}
.btn-orange {
  background-color: var(--color-orange);
  margin-right: 2rem;
}
.btn-dark-blue {
  background-color: var(--color-dark-blue-2);
}

.navigation {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
@media only screen and (min-width: 22.5em) {
  .navigation {
    width: 90%;
  }
}
@media only screen and (min-width: 60em) {
  .navigation {
    width: 80%;
  }
}
@media only screen and (min-width: 67em) {
  .navigation {
    width: 70%;
  }
}
@media only screen and (min-width: 85.375em) {
  .navigation {
    width: 60%;
  }
}
.navigation nav {
  flex-grow: 1;
  padding: 0 15%;
}
@media only screen and (min-width: 22.5em) {
  .navigation nav {
    display: none;
  }
}
@media only screen and (min-width: 39.5em) {
  .navigation nav {
    display: block;
    padding: 0 0 0 15%;
  }
}
@media only screen and (min-width: 50em) {
  .navigation nav {
    padding: 0 10%;
  }
}
@media only screen and (min-width: 54.5em) {
  .navigation nav {
    padding: 0 15%;
  }
}
.navigation__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navigation__link:link, .navigation__link:visited {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s;
}
.navigation__link:hover, .navigation__link:active {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-white);
}
.navigation__icon-text {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-white);
  cursor: pointer;
}

.social {
  display: flex;
  align-content: right;
}
@media only screen and (min-width: 22.5em) {
  .social {
    display: none;
  }
}
@media only screen and (min-width: 50em) {
  .social {
    display: block;
  }
}
.social__list {
  display: flex;
  list-style: none;
}
.social__item {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 3rem;
}
.social__link {
  width: 100%;
}
.social__img {
  width: 100%;
}
.social__img--1 {
  transition: all 0.2s;
}
.social__img--1:hover {
  transform: scale(1.5);
}
.social__img--2 {
  transition: all 0.2s;
}
.social__img--2:hover {
  transform: scale(1.5);
}
.social__img--3 {
  transition: all 0.2s;
}
.social__img--3:hover {
  transform: scale(1.5);
}

.feature {
  display: flex;
  text-align: left;
  justify-content: space-between;
}
.feature__content {
  margin: 0 2rem;
}
.feature__icon {
  height: 5rem;
  width: 5rem;
}
.feature__heading {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.feature__text {
  font-size: 1.2rem;
  color: var(--color-gray-1);
  font-weight: 300;
}

.widget {
  position: relative;
  height: 50rem;
  margin: 8rem;
}
@media only screen and (min-width: 22.5em) {
  .widget {
    height: 40rem;
  }
}
.widget__img {
  position: absolute;
  width: 21rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transform: translate(-50%, 0);
}
@media only screen and (min-width: 22.5em) {
  .widget__img {
    width: 14rem;
  }
}
@media only screen and (min-width: 50em) {
  .widget__img {
    width: 21rem;
  }
}
.widget__img--1 {
  top: 5%;
  left: 25%;
}
@media only screen and (min-width: 22.5em) {
  .widget__img--1 {
    top: 8%;
    left: -60%;
  }
}
@media only screen and (min-width: 29.75em) {
  .widget__img--1 {
    top: 8%;
    left: -30%;
  }
}
@media only screen and (min-width: 39.5em) {
  .widget__img--1 {
    top: 8%;
    left: 0%;
  }
}
@media only screen and (min-width: 50em) {
  .widget__img--1 {
    top: 5%;
    left: 25%;
  }
}
.widget__img--2 {
  width: 24rem;
  top: 0;
  left: 50%;
  z-index: 30;
}
@media only screen and (min-width: 22.5em) {
  .widget__img--2 {
    width: 18rem;
  }
}
@media only screen and (min-width: 50em) {
  .widget__img--2 {
    width: 24rem;
    top: 0;
    left: 50%;
  }
}
.widget__img--3 {
  top: 5%;
  left: 75%;
}
@media only screen and (min-width: 22.5em) {
  .widget__img--3 {
    top: 8%;
    left: 160%;
  }
}
@media only screen and (min-width: 29.75em) {
  .widget__img--3 {
    top: 8%;
    left: 130%;
  }
}
@media only screen and (min-width: 39.5em) {
  .widget__img--3 {
    top: 8%;
    left: 100%;
  }
}
@media only screen and (min-width: 50em) {
  .widget__img--3 {
    top: 5%;
    left: 75%;
  }
}

.screenshots__container {
  height: 50rem;
  position: relative;
}
@media only screen and (min-width: 22.5em) {
  .screenshots__container {
    height: 25rem;
  }
  .screenshots__container--r {
    grid-row: 1;
  }
}
@media only screen and (min-width: 50em) {
  .screenshots__container--r {
    grid-row: 1;
  }
}
.screenshots__content {
  text-align: left;
  margin-bottom: 5rem;
}
@media only screen and (min-width: 22.5em) {
  .screenshots__content {
    text-align: center;
  }
  .screenshots__content--r {
    grid-row: 2;
  }
}
@media only screen and (min-width: 50em) {
  .screenshots__content {
    text-align: center;
  }
  .screenshots__content--r {
    grid-row: 1;
  }
}
.screenshots__img {
  width: 17rem;
  position: absolute;
}
.screenshots__img--l {
  left: 10%;
}
@media only screen and (min-width: 22.5em) {
  .screenshots__img--l {
    left: 50%;
    transform: translateX(-50%);
  }
}
.screenshots__img--r {
  right: 10%;
}
@media only screen and (min-width: 22.5em) {
  .screenshots__img--r {
    right: 50%;
    transform: translateX(50%);
  }
}
.screenshots__icon--1 {
  height: 5rem;
}
.screenshots__icon--2 {
  height: 5rem;
}
.screenshots__icon--3 {
  height: 5rem;
}
.screenshots__icon--4 {
  height: 5rem;
}

.circle--5 {
  width: 6rem;
  position: absolute;
  top: 12rem;
  right: 15rem;
  animation-name: movement-4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 22.5em) {
  .circle--5 {
    width: 5rem;
    top: 10rem;
    right: 0rem;
  }
}
@media only screen and (min-width: 29.75em) {
  .circle--5 {
    width: 5rem;
    top: 10rem;
    right: 3rem;
  }
}
@media only screen and (min-width: 39.5em) {
  .circle--5 {
    width: 5rem;
    top: 10rem;
    right: 6rem;
  }
}
@media only screen and (min-width: 46.8em) {
  .circle--5 {
    width: 6rem;
    top: 10rem;
    right: 9rem;
  }
}
@media only screen and (min-width: 50em) {
  .circle--5 {
    width: 6rem;
    top: 10rem;
    right: 4rem;
  }
}
@media only screen and (min-width: 85.375em) {
  .circle--5 {
    width: 6rem;
    top: 10rem;
    right: 6rem;
  }
}
.circle--6 {
  width: 5.5rem;
  position: absolute;
  top: 24rem;
  left: 0rem;
  animation-name: movement-2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 22.5em) {
  .circle--6 {
    width: 4.5rem;
    top: 20rem;
    left: 0rem;
  }
}
@media only screen and (min-width: 29.75em) {
  .circle--6 {
    width: 4.5rem;
    top: 20rem;
    left: 2rem;
  }
}
@media only screen and (min-width: 39.5em) {
  .circle--6 {
    width: 4.5rem;
    top: 20rem;
    left: 7rem;
  }
}
@media only screen and (min-width: 46.8em) {
  .circle--6 {
    width: 5.5rem;
    top: 20rem;
    left: 10rem;
  }
}
@media only screen and (min-width: 50em) {
  .circle--6 {
    width: 5.5rem;
    top: 20rem;
    left: 5rem;
  }
}
@media only screen and (min-width: 85.375em) {
  .circle--6 {
    width: 5.5rem;
    top: 20rem;
    left: 7rem;
  }
}
.circle--7 {
  width: 6rem;
  position: absolute;
  top: 9rem;
  right: 1rem;
  animation-name: movement-1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 22.5em) {
  .circle--7 {
    width: 5rem;
    top: 8rem;
    right: 0rem;
  }
}
@media only screen and (min-width: 29.75em) {
  .circle--7 {
    width: 5rem;
    top: 8rem;
    right: 3rem;
  }
}
@media only screen and (min-width: 39.5em) {
  .circle--7 {
    width: 5rem;
    top: 8rem;
    right: 8rem;
  }
}
@media only screen and (min-width: 46.8em) {
  .circle--7 {
    width: 6rem;
    top: 8rem;
    right: 10rem;
  }
}
@media only screen and (min-width: 50em) {
  .circle--7 {
    width: 6rem;
    top: 8rem;
    right: 5rem;
  }
}
@media only screen and (min-width: 85.375em) {
  .circle--7 {
    width: 6rem;
    top: 8rem;
    right: 7rem;
  }
}
.circle--8 {
  width: 5.5rem;
  position: absolute;
  top: 21rem;
  left: 15rem;
  animation-name: movement-4;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 22.5em) {
  .circle--8 {
    width: 4.5rem;
    top: 21rem;
    left: 0rem;
  }
}
@media only screen and (min-width: 29.75em) {
  .circle--8 {
    width: 4.5rem;
    top: 21rem;
    left: 2rem;
  }
}
@media only screen and (min-width: 39.5em) {
  .circle--8 {
    width: 4.5rem;
    top: 21rem;
    left: 7rem;
  }
}
@media only screen and (min-width: 46.8em) {
  .circle--8 {
    width: 5.5rem;
    top: 21rem;
    left: 11rem;
  }
}
@media only screen and (min-width: 50em) {
  .circle--8 {
    width: 5.5rem;
    top: 21rem;
    left: 5rem;
  }
}
@media only screen and (min-width: 85.375em) {
  .circle--8 {
    width: 5.5rem;
    top: 21rem;
    left: 7rem;
  }
}
.circle--9 {
  width: 5rem;
  position: absolute;
  top: 10rem;
  right: 16rem;
  animation-name: movement-2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 22.5em) {
  .circle--9 {
    width: 4rem;
    top: 10rem;
    right: 0rem;
  }
}
@media only screen and (min-width: 29.75em) {
  .circle--9 {
    width: 4rem;
    top: 10rem;
    right: 3rem;
  }
}
@media only screen and (min-width: 39.5em) {
  .circle--9 {
    width: 4rem;
    top: 10rem;
    right: 7rem;
  }
}
@media only screen and (min-width: 46.8em) {
  .circle--9 {
    width: 5rem;
    top: 10rem;
    right: 12rem;
  }
}
@media only screen and (min-width: 50em) {
  .circle--9 {
    width: 5rem;
    top: 10rem;
    right: 5rem;
  }
}
@media only screen and (min-width: 85.375em) {
  .circle--9 {
    width: 5rem;
    top: 10rem;
    right: 8rem;
  }
}
.circle--10 {
  width: 5.5rem;
  position: absolute;
  top: 24rem;
  left: 1rem;
  animation-name: movement-3;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 22.5em) {
  .circle--10 {
    width: 4.5rem;
    top: 22rem;
    left: 0rem;
  }
}
@media only screen and (min-width: 29.75em) {
  .circle--10 {
    width: 4.5rem;
    top: 22rem;
    left: 2rem;
  }
}
@media only screen and (min-width: 39.5em) {
  .circle--10 {
    width: 4.5rem;
    top: 22rem;
    left: 8rem;
  }
}
@media only screen and (min-width: 46.8em) {
  .circle--10 {
    width: 5.5rem;
    top: 22rem;
    left: 11rem;
  }
}
@media only screen and (min-width: 50em) {
  .circle--10 {
    width: 5.5rem;
    top: 22rem;
    left: 5rem;
  }
}
@media only screen and (min-width: 85.375em) {
  .circle--10 {
    width: 5.5rem;
    top: 22rem;
    left: 8rem;
  }
}

.testimony {
  text-align: left;
  position: relative;
}
.testimony__quote {
  font-size: 8rem;
  font-weight: 700;
  color: var(--color-primary);
}
.testimony__quote--1 {
  position: absolute;
  top: -5rem;
  left: 0;
}
.testimony__quote--2 {
  position: absolute;
  top: 5rem;
  left: 90%;
}
.testimony__main {
  font-size: 1.8rem;
  font-weight: 300;
}
.testimony__cite {
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
}

.downloads {
  width: 60%;
  margin: 0 auto;
}
@media only screen and (min-width: 22.5em) {
  .downloads {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}
.downloads__btns {
  display: flex;
  justify-content: left;
}
@media only screen and (min-width: 22.5em) {
  .downloads__btns {
    justify-content: center;
  }
}
.downloads__phones {
  height: 6rem;
  position: relative;
  left: 30%;
}
@media only screen and (min-width: 22.5em) {
  .downloads__phones {
    left: 25%;
  }
}
@media only screen and (min-width: 29.75em) {
  .downloads__phones {
    left: 30%;
  }
}
@media only screen and (min-width: 39.5em) {
  .downloads__phones {
    left: 35%;
  }
}
@media only screen and (min-width: 50em) {
  .downloads__phones {
    left: 30%;
  }
}
@media only screen and (min-width: 85.375em) {
  .downloads__phones {
    left: 20%;
  }
}
.downloads__phones--1 {
  filter: blur(0.3rem);
  width: 16rem;
  position: absolute;
  top: 170%;
  left: -12rem;
  clip: rect(0, 16rem, 18rem, 0);
}
@media only screen and (min-width: 22.5em) {
  .downloads__phones--1 {
    top: 80%;
  }
}
.downloads__phones--2 {
  width: 17rem;
  position: absolute;
  top: 28%;
  left: 0;
  z-index: 50;
  clip: rect(0, 17rem, 30rem, 0);
}
@media only screen and (min-width: 22.5em) {
  .downloads__phones--2 {
    top: 0;
  }
}
@media only screen and (min-width: 67em) {
  .downloads__phones--2 {
    top: 30%;
  }
}
.downloads__phones--3 {
  filter: blur(0.3rem);
  width: 16rem;
  position: absolute;
  top: 170%;
  left: 12rem;
  clip: rect(0, 16rem, 18rem, 0);
}
@media only screen and (min-width: 22.5em) {
  .downloads__phones--3 {
    top: 80%;
  }
}

.btns {
  width: 14rem;
  padding: 0;
}

.row {
  display: grid;
  grid-column-gap: 5rem;
  grid-row-gap: 10rem;
}
@media only screen and (min-width: 22.5em) {
  .row {
    grid-row-gap: 10rem;
    justify-content: center;
  }
}
@media only screen and (min-width: 50em) {
  .row {
    grid-row-gap: 10rem;
    grid-column-gap: 5rem;
    justify-content: left;
  }
}
.row--80 {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .row--80 {
    width: 99%;
    margin: 0 auto;
  }
}
.row--60 {
  justify-content: center;
}
.row--2 {
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (min-width: 22.5em) {
  .row--2 {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 50em) {
  .row--2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.row--3 {
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (min-width: 22.5em) {
  .row--3 {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 50em) {
  .row--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.row--4 {
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (min-width: 22.5em) {
  .row--4 {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 50em) {
  .row--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
.row--center {
  justify-content: center;
  align-items: center;
}

.header {
  background: url("../img/bg.png") bottom;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 50em) {
  .header {
    height: 100vh;
  }
}
@media only screen and (min-width: 22.5em) {
  .header {
    height: 80vh;
  }
}

.hero {
  width: 75%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 50em) {
  .hero {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 60em) {
  .hero {
    width: 80%;
  }
}
@media only screen and (min-width: 67em) {
  .hero {
    width: 70%;
  }
}
@media only screen and (min-width: 85.375em) {
  .hero {
    width: 60%;
  }
}
.hero__content {
  margin-top: 5rem;
}
@media only screen and (min-width: 22.5em) {
  .hero__content {
    margin-top: -15rem;
    text-align: center;
  }
}
@media only screen and (min-width: 50em) {
  .hero__content {
    margin-top: 0rem;
    text-align: left;
  }
}
.hero__img-container {
  position: relative;
  height: 60rem;
}
@media only screen and (min-width: 22.5em) {
  .hero__img-container {
    display: none;
  }
}
@media only screen and (min-width: 50em) {
  .hero__img-container {
    display: block;
    height: 40rem;
  }
}
.hero__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
}
@media only screen and (min-width: 50em) {
  .hero__img {
    width: 15rem;
  }
}
.hero__btn {
  display: flex;
}
@media only screen and (min-width: 22.5em) {
  .hero__btn {
    justify-content: center;
  }
}
@media only screen and (min-width: 50em) {
  .hero__btn {
    justify-content: left;
  }
}

.circle--1 {
  position: absolute;
  top: 5rem;
  left: 32rem;
  width: 3.5rem;
  animation-name: movement-1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 50em) {
  .circle--1 {
    top: 5rem;
    left: 27rem;
    width: 3rem;
  }
}
@media only screen and (min-width: 60em) {
  .circle--1 {
    top: 5rem;
    left: 29rem;
    width: 3rem;
  }
}
.circle--2 {
  position: absolute;
  top: 41rem;
  left: 33rem;
  width: 4rem;
  animation-name: movement-2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 50em) {
  .circle--2 {
    top: 31rem;
    left: 27rem;
    width: 3.5rem;
  }
}
@media only screen and (min-width: 60em) {
  .circle--2 {
    top: 31rem;
    left: 29rem;
    width: 3.5rem;
  }
}
.circle--3 {
  position: absolute;
  top: 19rem;
  left: 2rem;
  width: 6rem;
  animation-name: movement-4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 50em) {
  .circle--3 {
    top: 17rem;
    left: 0rem;
    width: 5rem;
  }
}
@media only screen and (min-width: 60em) {
  .circle--3 {
    top: 17rem;
    left: 4rem;
    width: 5rem;
  }
}
.circle--4 {
  position: absolute;
  top: 17rem;
  left: 35rem;
  width: 5.3rem;
  animation-name: movement-3;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 50em) {
  .circle--4 {
    top: 15rem;
    left: 29rem;
    width: 4.7rem;
  }
}
@media only screen and (min-width: 60em) {
  .circle--4 {
    top: 15rem;
    left: 31rem;
    width: 4.7rem;
  }
}

.footer {
  padding: 4rem 0;
  background-color: var(--color-dark-blue-1);
  text-align: right;
}
.footer__text {
  color: var(--color-dark-blue-4);
  font-size: 1.2rem;
  padding: 4rem 10% 4rem 0;
}

.fun {
  color: var(--color-orange);
}

.weather {
  color: var(--color-primary);
}

.line {
  width: 80%;
  margin: 0 auto;
  border-bottom: 0.5px solid var(--color-dark-blue-4);
}
@media only screen and (min-width: 22.5em) {
  .line {
    width: 90%;
  }
}
@media only screen and (min-width: 60em) {
  .line {
    width: 80%;
  }
}
@media only screen and (min-width: 67em) {
  .line {
    width: 70%;
  }
}
@media only screen and (min-width: 85.375em) {
  .line {
    width: 60%;
  }
}

.section_features {
  text-align: center;
  width: 60%;
  margin: 8rem auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section_features {
    width: 80%;
    margin: 8rem auto;
  }
}
@media only screen and (min-width: 50em) {
  .section_features {
    width: 90%;
  }
}
@media only screen and (min-width: 60em) {
  .section_features {
    width: 80%;
  }
}
@media only screen and (min-width: 67em) {
  .section_features {
    width: 70%;
  }
}
@media only screen and (min-width: 85.375em) {
  .section_features {
    width: 60%;
  }
}

.section_widget {
  text-align: center;
  width: 60%;
  margin: 8rem auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section_widget {
    width: 80%;
    margin: 8rem auto;
  }
}
@media only screen and (min-width: 50em) {
  .section_widget {
    width: 90%;
  }
}
@media only screen and (min-width: 60em) {
  .section_widget {
    width: 80%;
  }
}
@media only screen and (min-width: 67em) {
  .section_widget {
    width: 70%;
  }
}
@media only screen and (min-width: 85.375em) {
  .section_widget {
    width: 60%;
  }
}

.section_screenshots {
  text-align: center;
  width: 60%;
  margin: 8rem auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section_screenshots {
    width: 80%;
    margin: 8rem auto;
  }
}
@media only screen and (min-width: 50em) {
  .section_screenshots {
    width: 90%;
  }
}
@media only screen and (min-width: 60em) {
  .section_screenshots {
    width: 80%;
  }
}
@media only screen and (min-width: 67em) {
  .section_screenshots {
    width: 70%;
  }
}
@media only screen and (min-width: 85.375em) {
  .section_screenshots {
    width: 60%;
  }
}

.section_testimonials {
  text-align: center;
  width: 60%;
  margin: 8rem auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section_testimonials {
    width: 80%;
    margin: 8rem auto;
  }
}
@media only screen and (min-width: 50em) {
  .section_testimonials {
    width: 90%;
  }
}
@media only screen and (min-width: 60em) {
  .section_testimonials {
    width: 80%;
  }
}
@media only screen and (min-width: 67em) {
  .section_testimonials {
    width: 70%;
  }
}
@media only screen and (min-width: 85.375em) {
  .section_testimonials {
    width: 60%;
  }
}

.section_download {
  padding: 5rem 0 5rem 0;
  background-color: var(--color-primary);
  overflow: hidden;
}
