.section_features {
    text-align: center;
    width: 60%;
    margin: 8rem auto;
}

.section_widget {
    text-align: center;
    width: 60%;
    margin: 8rem auto;
}

.section_screenshots {
    text-align: center;
    width: 60%;
    margin: 8rem auto;
}
