.section_features {
    @include main-padding;
}

.section_widget {
    @include main-padding;
}

.section_screenshots {
    @include main-padding;
}

.section_testimonials {
    @include main-padding;
}

.section_download {
    padding: 5rem 0 5rem 0;
    background-color: var(--color-primary);
    overflow: hidden;

    @include respond-to($phone) {

    }
}
