.downloads {
    width: 60%;
    margin: 0 auto;

    &__btns {
        display: flex;
        justify-content: left;

    }

    &__phones {
        height: 6rem;
        position: relative;
        left: 30%;

        &--1 {
            filter: blur(.3rem);
            width: 16rem;
            position: absolute;
            top: 170%;
            left: -12rem;
            clip: rect(0, 16rem, 18rem, 0);
        }

        &--2 {
            width: 17rem;
            position: absolute;
            top: 28%;
            left: 0;
            z-index: 50;
            clip: rect(0, 17rem, 30rem, 0);
        }

        &--3 {
            filter: blur(.3rem);
            width: 16rem;
            position: absolute;
            top: 170%;
            left: 12rem;
            clip: rect(0, 16rem, 18rem, 0);
        }
    }
}

.btn {
    width: 14rem;
    padding: 0;
}
