.downloads {
    width: 60%;
    margin: 0 auto;

    @include bp-small{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    &__btns {
        display: flex;
        justify-content: left;
        @include bp-small {
            justify-content: center;
        }
    }

    &__phones {
        height: 6rem;
        position: relative;
        left: 30%;

        @include bp-small{
            left: 25%;
        }
        @include bp-small-2 {
            left: 30%;
        }
        @include bp-small-3 {
            left: 35%;
        }
        @include bp-large {
            left: 30%;
        }
        @include bp-xl-3 {
            left: 20%;
        }

        &--1 {
            filter: blur(.3rem);
            width: 16rem;
            position: absolute;
            top: 170%;
            left: -12rem;
            clip: rect(0, 16rem, 18rem, 0);

            @include bp-small{
                top: 80%;
            }
        }

        &--2 {
            width: 17rem;
            position: absolute;
            top: 28%;
            left: 0;
            z-index: 50;
            clip: rect(0, 17rem, 30rem, 0);
            @include bp-small{
                top: 0;
            }
            @include bp-xl-2 {
                top: 30%
            }
        }

        &--3 {
            filter: blur(.3rem);
            width: 16rem;
            position: absolute;
            top: 170%;
            left: 12rem;
            clip: rect(0, 16rem, 18rem, 0);
            @include bp-small{
                top: 80%;
            }
        }
    }
}

.btns {
    width: 14rem;
    padding: 0;
}
