.feature {
    display: flex;
    text-align: left;
    justify-content: space-between;

    &__content {
        margin: 0 2rem;
    }

    &__icon {
        height: 5rem;
        width: 5rem;
    }

    &__heading {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1.2rem;
        color: var(--color-gray-1);
        font-weight: 300;
    }
}
