.navigation {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    @include bp-small {
        width: 90%;
    }
    @include bp-xl {
        width: 80%;
    }
    @include bp-xl-2 {
        width: 70%;
    }
    @include bp-xl-3 {
        width: 60%;
    }


    nav {
        flex-grow: 1;
        padding: 0 15%;

        @include bp-small {
            display: none;
        }
        @include  bp-small-3 {
            display: block;
            padding: 0 0 0 15%;
        }
        @include bp-large {
            padding: 0 10%;
        }
        @include  bp-large-2 {
            padding: 0 15%;
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    &__item {

    }

    &__link {

        &:link,
        &:visited {
            color: var(--color-white);
            text-decoration: none;
            font-size: 1.2rem;
            transition: all 0.2s;
        }

        &:hover,
        &:active {
            padding-bottom: .5rem;
            border-bottom: 2px solid var(--color-white);
        }

    }

    &__icon-text {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--color-white);
        cursor: pointer;
    }
}
