.screenshots {

    &__container {
        height: 50rem;
        position: relative;

        @include bp-small {
            height: 25rem;
            &--r {
                grid-row: 1;
            }
        }
        @include bp-large {
            &--r {
                grid-row: 1;
            }
        }
    }

    &__content {
       text-align: left;
        margin-bottom: 5rem;
        @include bp-small {
            text-align: center;
            &--r {
                grid-row: 2;
            }
        }
        @include bp-large {
            text-align: center;
            &--r {
                grid-row: 1;
            }
        }
    }

    &__img {
        width: 17rem;
        position: absolute;

        &--l {
            left: 10%;
            @include bp-small {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &--r{
            right: 10%;
            @include bp-small {
                right: 50%;
                transform: translateX(50%);
            }
        }
    }

    &__icon {
        &--1 {
            height: 5rem;
        }

        &--2 {
            height: 5rem;
        }

        &--3 {
            height: 5rem;
        }

        &--4 {
            height: 5rem;
        }
    }
}

.circle {
    &--5 {
        width: 6rem;
        position: absolute;
        top: 12rem;
        right: 15rem;
        animation-name: movement-4;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        @include bp-small{
            width: 5rem;
            top: 10rem;
            right: 0rem;
        }
        @include bp-small-2{
            width: 5rem;
            top: 10rem;
            right: 3rem;
        }
        @include bp-small-3{
            width: 5rem;
            top: 10rem;
            right: 6rem;
        }
        @include bp-med{
            width: 6rem;
            top: 10rem;
            right: 9rem;
        }
        @include bp-large{
            width: 6rem;
            top: 10rem;
            right: 4rem;
        }
        @include bp-xl-3{
            width: 6rem;
            top: 10rem;
            right: 6rem;
        }
    }

    &--6 {
        width: 5.5rem;
        position: absolute;
        top: 24rem;
        left: 0rem;
        animation-name: movement-2;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        @include bp-small{
            width: 4.5rem;
            top: 20rem;
            left: 0rem;
        }
        @include bp-small-2{
            width: 4.5rem;
            top: 20rem;
            left: 2rem;
        }
        @include bp-small-3{
            width: 4.5rem;
            top: 20rem;
            left: 7rem;
        }
        @include bp-med{
            width: 5.5rem;
            top: 20rem;
            left: 10rem;
        }
        @include bp-large{
            width: 5.5rem;
            top: 20rem;
            left: 5rem;
        }
        @include bp-xl-3{
            width: 5.5rem;
            top: 20rem;
            left: 7rem;
        }
    }

    &--7 {
        width: 6rem;
        position: absolute;
        top: 9rem;
        right: 1rem;
        animation-name: movement-1;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        @include bp-small{
            width: 5rem;
            top: 8rem;
            right: 0rem;
        }
        @include bp-small-2{
            width: 5rem;
            top: 8rem;
            right: 3rem;
        }
        @include bp-small-3{
            width: 5rem;
            top: 8rem;
            right: 8rem;
        }
        @include bp-med{
            width: 6rem;
            top: 8rem;
            right: 10rem;
        }
        @include bp-large{
            width: 6rem;
            top: 8rem;
            right: 5rem;
        }
        @include bp-xl-3 {
            width: 6rem;
            top: 8rem;
            right: 7rem;
        }
    }

    &--8 {
        width: 5.5rem;
        position: absolute;
        top: 21rem;
        left: 15rem;
        animation-name: movement-4;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        @include bp-small{
            width: 4.5rem;
            top: 21rem;
            left: 0rem;
        }
        @include bp-small-2{
            width: 4.5rem;
            top: 21rem;
            left: 2rem;
        }
        @include bp-small-3{
            width: 4.5rem;
            top: 21rem;
            left: 7rem;
        }
        @include bp-med{
            width: 5.5rem;
            top: 21rem;
            left: 11rem;
        }
        @include bp-large{
            width: 5.5rem;
            top: 21rem;
            left: 5rem;
        }
        @include bp-xl-3{
            width: 5.5rem;
            top: 21rem;
            left: 7rem;
        }
    }

    &--9 {
        width: 5rem;
        position: absolute;
        top: 10rem;
        right: 16rem;
        animation-name: movement-2;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        @include bp-small{
            width: 4rem;
            top: 10rem;
            right: 0rem;
        }
        @include bp-small-2{
            width: 4rem;
            top: 10rem;
            right: 3rem;
        }
        @include bp-small-3{
            width: 4rem;
            top: 10rem;
            right: 7rem;
        }
        @include bp-med{
            width: 5rem;
            top: 10rem;
            right: 12rem;
        }
        @include bp-large{
            width: 5rem;
            top: 10rem;
            right: 5rem;
        }
        @include bp-xl-3{
            width: 5rem;
            top: 10rem;
            right: 8rem;
        }
    }

    &--10 {
        width: 5.5rem;
        position: absolute;
        top: 24rem;
        left: 1rem;
        animation-name: movement-3;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        @include bp-small{
            width: 4.5rem;
            top: 22rem;
            left: 0rem;
        }
        @include bp-small-2{
            width: 4.5rem;
            top: 22rem;
            left: 2rem;
        }
        @include bp-small-3{
            width: 4.5rem;
            top: 22rem;
            left: 8rem;
        }
        @include bp-med{
            width: 5.5rem;
            top: 22rem;
            left: 11rem;
        }
        @include bp-large{
            width: 5.5rem;
            top: 22rem;
            left: 5rem;
        }
        @include bp-xl-3{
            width: 5.5rem;
            top: 22rem;
            left: 8rem;
        }
    }
}
