.widget {
    position: relative;
    height: 50rem;
    margin: 8rem;
    &__img {
        position: absolute;
        width: 21rem;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);
        transform: translate(-50%, 0);
    }

    &__img--1 {
        top: 5%;
        left: 25%;
    }

    &__img--2 {
        width: 24rem;
        top: 0;
        left: 50%;
        z-index: 30;
    }

    &__img--3 {
        top: 5%;
        left: 75%;
    }
}
