@keyframes movement-1 {
    0% {
         transform: translate(0rem, 0rem);
     }
    50% {
        transform: translate(0, -.6rem) rotate(-15deg);
    }

    100% {
        transform: translate(0rem, 0rem);
    }

}

@keyframes movement-2 {
     0% {
         transform: translate(0rem, 0rem);
     }
     50% {
         transform: translate(0, -1rem) rotate(6deg);
     }

     100% {
         transform: translate(0rem, 0rem);
     }

 }

@keyframes movement-3 {
    0% {
        transform: translate(0rem, 0rem);
    }
    50% {
        transform: translate(0, -1.5rem) rotate(-8deg);
    }

    100% {
        transform: translate(0rem, 0rem);
    }

}

@keyframes movement-4 {
    0% {
        transform: translate(0rem, 0rem);
    }
    50% {
        transform: translate(0, -1.8rem) rotate(10deg);
    }

    100% {
        transform: translate(0rem, 0rem);
    }

}
