:root {
    --color-primary: #648cff;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-orange: #fc6a42;

    --color-gray-1: #c2c2c2;
    --color-gray-2: #999999;
    --color-dark-blue-1: #353854;
    --color-dark-blue-2: #4466c9;
    --color-dark-blue-3: #4466c9;
    --color-dark-blue-4: #b5b5c8;
    --color-dark-blue-5: #525781;
    --color-dark-blue-6: #686a7f;
}
